<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - About</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">SEOK JI YEON</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="about.erb">About</a>
                    </li>
                    <li>
                        <a href="posting.erb">Sample Post</a>
                    </li>
                    <li>
                        <a href="contact.erb">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>고등학교 때는 대학생이 되면 수학과나 생물학과에 가고 싶다고 생각했는데 어떻게 하다보니 컴퓨터 관련 학과로 원서를 쓰게 되었고 결국 컴퓨터과학부에 오게 되었어요.
                그래서 처음에는 적응하기도 힘들었고 내가 지금 배우는 게 대체 뭔지 이해도 잘하지 못했는데 다른 과로 전과하기는 싫었어요. 그래서 꾸역꾸역 공부를 했고 공부를 하다보니
                이해가 가고 재미있는 부분도 있었어요.</p>
                <p>과제를 하다가 막힌 부분에서 계속 생각을 하다가 몇 시간 뒤에 결국 해결했을 때의 희열과 기쁨이나 몇몇 사람들과 같이 했던 프로젝트에서 포기하고 싶었을 때
                결국 내가 맡은 부분을 했을 때의 성취감이 이 길을 계속 걷게 하더라고요. 하지만 코딩은 아직도 어렵고 힘듭니다. ㅠㅠ 저도 남들처럼 코딩 잘하고 싶어요...</p>
                <p>또 우연히 멋쟁이 사자처럼을 알게 되었어요. 그때가 3기 모집은 이미 옛날에 끝났던 때였고 다음 년도에 저는 4기를 지원했습니다. 말 주변도 별로 없고 자기소개서도 거의 써본 적이 없던 
                때라 쓰기가 되게 힘들었어요. 결국 짜내고 짜내서 내가 만들고 싶은 서비스와 자기소개를 마치고 지원을 하고 붙을지 몰랐는데 서류를 붙고 또 붙을지 몰랐는데 면접도 붙었습니다.
                루비 온 레일즈는 학교에서도 배우지 않는 언어여서 또 그걸 이해하고 그러는 부분이 처음에는 되게 힘들더라구요. 남들은 잘하는데 나만 못하고 그래서 의욕도 안 생기고.
                근데 숙대 멋사에서 좋은 사람들 재밌는 사람들 많이 만나서 너무 좋고 일년 지나니까 그래도 루비라는 언어가 익숙해져서 그런지 작년처럼 헤매고 그러지는 않는 것 같아요.
                다행이라고 생각합니다.</p>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
